:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(31, 31, 31, 1);
  background-color: rgba(255, 255, 255, 1);
}
#root {
  height: 100%;
}
.dashboard {
  display: flex;
  height: 100%;
}
